[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/student/Desktop/Intellij.desktop]
row=4
col=0

[/home/student/Desktop/Anroid Studio.desktop]
row=5
col=0

[d1d0ac81-e0f4-4b34-8e9c-f2b03cf0e8f7]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/student]
row=3
col=0

